{
    "plugins": [
        "prettier-plugin-go-template"
    ],
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "go-template"
            }
        },
        {
            "files": "*.svg",
            "options": {
                "parser": "html"
            }
        }
    ],
    "goTemplateBracketSpacing": true,
    "useTabs": true
}
