<div class="container">
	<footer
		class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
	>
		<div
			class="col-12 col-lg-4 mb-0 mb-md-3 mb-lg-0 d-flex justify-content-center justify-content-lg-start align-items-center"
		>
			<span class="mb-3 mb-md-0 text-dim"
				>&copy; {{ now.Format "2006" }} Connor Sample</span
			>
		</div>

		<ul
			class="nav col-12 col-lg-4 justify-content-center justify-content-lg-end list-unstyled d-flex"
		>
			<li class="ms-2">
				<a
					href="https://github.com/TabulateJarl8"
					target="_blank"
					aria-label="GitHub Profile"
					><i class="social-icon github" aria-hidden="true"></i
				></a>
			</li>
			<li class="ms-2">
				<a
					href="https://gitlab.com/TabulateJarl8"
					target="_blank"
					aria-label="GitLab Profile"
					><i class="social-icon gitlab" aria-hidden="true"></i
				></a>
			</li>
			<li class="ms-2">
				<a
					href="https://reddit.com/u/TabulateJarl8"
					target="_blank"
					aria-label="Reddit Profile"
					><i class="social-icon reddit" aria-hidden="true"></i
				></a>
			</li>
			<li class="ms-2">
				<a
					href="https://mastodon.social/@tabulatejarl8"
					rel="me"
					target="_blank"
					aria-label="Mastodon Profile"
					><i class="social-icon mastodon" aria-hidden="true"></i
				></a>
			</li>
			<li class="ms-2">
				<a
					href="https://stackoverflow.com/users/11591238/tabulate"
					target="_blank"
					aria-label="StackOverflow Profile"
					><i class="social-icon stack-overflow" aria-hidden="true"></i
				></a>
			</li>
			<li class="ms-2">
				<a
					href="https://www.linkedin.com/in/connor-sample/"
					target="_blank"
					aria-label="LinkedIn Profile"
					><i class="social-icon linkedin" aria-hidden="true"></i
				></a>
			</li>
		</ul>
	</footer>
</div>
