{{ $bg := resources.Get "img/og-base.png" }}
{{ $fontBold := resources.Get "fonts/TitilliumWeb-Bold.ttf" }}
{{ $fontReg := resources.Get "fonts/TitilliumWeb-Regular.ttf" }}
{{ $favicon := resources.Get "img/fav-circular.png" }}
{{ $dynamic := or (eq .Params.layout "software_page") (eq .Type "blog") }}

{{/* title should be bare on software and blog pages */}}
{{ $ogTitle := .Title }}
{{ if not $dynamic }}
	{{ $ogTitle = printf "%s - tabulate.tech" .Title }}
{{ end }}

{{/* extract description */}}
{{ $description := "Versatile programmer with expertise in Rust, Python, and more." }}
{{ if $dynamic }}
	{{ if eq .Params.layout "software_page" }}
		{{ $description = index (split .Content "</p>") 0 | plainify | truncate 100 }}
	{{ else if .Description }}
		{{ $description = .Description | truncate 100 }}
	{{ end }}
{{ else if .Description }}
	{{ $description = .Description | truncate 100 }}
{{ end }}

{{/* favicon in top left */}}
{{ $img := $bg }}
{{ if $favicon }}
	{{/* move logo to top right */}}
	{{ $img = $img.Filter (images.Overlay $favicon 50 40) }}
{{ end }}

{{/* domain in top left by favicon */}}
{{ $img = $img.Filter (images.Text "tabulate.tech" (dict
	"color" "#4a4a4a"
	"size" 30
	"font" $fontReg
	"x" 145
	"y" 50
	))
}}

{{/* title in center */}}
{{ $img = $img.Filter (images.Text $ogTitle (dict
	"color" "#000000"
	"size" 70
	"font" $fontBold
	"alignx" "left"
	"aligny" "center"
	"x" 100
	"y" 280
	))
}}

{{ $img = $img.Filter (images.Text "|" (dict
	"color" "#714cdf"
	"size" 180
	"font" $fontReg
	"x" 55
	"y" 190
	))
}}

{{/* pad description if title wraps */}}
{{ $descY := 380 }}
{{ if gt (len $ogTitle) 33 }}
	{{ $descY = add $descY 20 }}
{{ end }}

{{/* description in center below title */}}
{{ $img = $img.Filter (images.Text $description (dict
	"color" "#000000"
	"size" 35
	"font" $fontReg
	"alignx" "left"
	"aligny" "center"
	"x" 100
	"y" $descY
	"linespacing" 10
	))
}}

{{/* dedup with hash */}}
{{ $hash := sha1 (printf "%s|%s" $ogTitle $description ) }}
{{ $final := $img | resources.Copy (printf "og/%s.png" $hash) }}


<meta property="og:image" content="{{ $final.Permalink }}" />
