img.kofiimg {
	height: 15px !important;
	width: 22px !important;
	display: initial;
	animation: kofi-wiggle 3s infinite;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-BoldItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Bold.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Black.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Italic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-ExtraLight.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Light.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Regular.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-LightItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

.bg-info-dark {
	background-color: #236fd8 !important;
}

.bg-success-dark {
	background-color: #14965b !important;
}

.bg-danger-dark {
	background-color: #c22e46 !important;
}

.bg-warning-dark {
	background-color: #c25b10 !important;
}

.bg-secondary-dark {
	background-color: #1180ad !important;
}

.bg-primary-dark {
	background-color: #544091 !important;
}

.footer-icon-hover:hover {
	color: #c4c4c4;
}

.border-white-hover:hover {
	border-color: #fff;
}

.container img {
	@extend .mw-100;
}

.highlight {
	overflow-x: scroll;
}

@import "bootstrap4-neon-glow";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

hr {
	border-top: 1px solid $gray-300;
}
