img.kofiimg {
	height: 15px !important;
	width: 22px !important;
	display: initial;
	animation: kofi-wiggle 3s infinite;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-BoldItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Bold.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Black.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Italic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-ExtraLight.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Light.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-Regular.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-LightItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web';
	src: url('/fonts/TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
		url('/fonts/TitilliumWeb-ExtraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

$dark-colors: (
	"primary": #544091,
	"secondary": #1180ad,
	"success": #14965b,
	"info": #236fd8,
	"warning": #c25b10,
	"danger": #c22e46,
);

@each $color, $value in $dark-colors {
	.bg-#{$color}-dark {
		background-color: #{$value} !important;
	}
}

.footer-icon-hover:hover {
	color: #c4c4c4;
}

footer {
	color: #81839A;
}

.border-grey-hover:hover {
	border-color: grey;
}

.container img {
	@extend .mw-100;
}

.highlight {
	overflow-x: auto;
}

@import "bootstrap5-neon-glow";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

hr {
	border-top: 1px solid $gray-300;
}

a:not([class]) {
	color: #A490E9;
	word-break: break-word;
	text-decoration: none;

	&:hover {
		color: #815af5;
		text-decoration: underline;
	}
}

blockquote {
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	background: $dark;
	border-radius: $border-radius;
	border: none;
	line-height: 1.6;

	// Left stripe
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 4px;
		background: $primary;
		border-radius: $border-radius 0 0 $border-radius;
	}

	p {
		margin: 0 0 1em;
		position: relative;
		z-index: 1;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

table {
	@extend .table;
}

tbody {
	@extend .table-group-divider;
}

@each $color, $value in $theme-colors {
	hr.hr-#{$color} {
		opacity: 1;
		@extend .border-top;
		@extend .border-#{$color};
		@extend .bg-#{$color};
	}
}

hr.hr-thick {
	@extend .border-2;
}
