@use "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@use "../../node_modules/@fortawesome/fontawesome-free/scss/fa" as fa;
@use "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss" as
	fa-brands;
@use "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss" as
	fa-solid;
@use "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss" as
	fa-regular;

@import "bootstrap5-neon-glow";

$dark-colors: (
	"primary": #544091,
	"secondary": #1180ad,
	"success": #14965b,
	"info": #236fd8,
	"warning": #c25b10,
	"danger": #c22e46,
);

// SETUP FONTS

@mixin font-face($weight, $style, $filename) {
	@font-face {
		font-family: "Titillium Web";
		src:
			url("/fonts/TitilliumWeb-#{$filename}.woff2") format("woff2"),
			url("/fonts/TitilliumWeb-#{$filename}.woff") format("woff");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@include font-face(200, normal, "ExtraLight");
@include font-face(200, italic, "ExtraLightItalic");
@include font-face(300, normal, "Light");
@include font-face(300, italic, "LightItalic");
@include font-face(normal, normal, "Regular");
@include font-face(normal, italic, "Italic");
@include font-face(600, normal, "SemiBold");
@include font-face(600, italic, "SemiBoldItalic");
@include font-face(bold, normal, "Bold");
@include font-face(bold, italic, "BoldItalic");
@include font-face(900, normal, "Black");

// GLOBAL OVERRIDES

a:not([class]) {
	color: #a490e9;
	word-break: break-word;
	text-decoration: none;

	&:hover {
		color: #815af5;
		text-decoration: underline;
	}
}

table {
	@extend .table;
}

tbody {
	@extend .table-group-divider;
}

hr {
	border-top: 1px solid $gray-300;
}

.container img {
	@extend .mw-100;
}

// COMPONENTS

blockquote {
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	background: $dark;
	border-radius: $border-radius;
	border: none;
	line-height: 1.6;

	// Left stripe
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 4px;
		background: $primary;
		border-radius: $border-radius 0 0 $border-radius;
	}

	p {
		margin: 0 0 1em;
		position: relative;
		z-index: 1;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

footer {
	color: #81839a;
}

img.kofiimg {
	height: 15px !important;
	width: 22px !important;
	display: initial;
	animation: kofi-wiggle 3s infinite;
}

a.blog-tag {
	@extend .text-decoration-none;

	span {
		@extend .badge;
		@extend .bg-dark;
		@extend .text-success;
		transition: color 0.15s ease-in-out;

		&:hover {
			@extend .text-decoration-underline;
			color: lighten($success, 15%) !important;
		}
	}
}

// UTILITIES

// loop for dark backgrounds
@each $color, $value in $dark-colors {
	.bg-#{$color}-dark {
		background-color: #{$value} !important;
	}
}

// loop for hr colors using bootstrap's $theme-colors
@each $color, $value in $theme-colors {
	hr.hr-#{$color} {
		opacity: 1;
		@extend .border-top;
		@extend .border-#{$color};
		@extend .bg-#{$color};
	}
}

hr.hr-thick {
	@extend .border-2;
}

.border-grey-hover:hover {
	border-color: grey;
}

.highlight {
	overflow-x: auto;
}

// FONTAWESOME CLASSES

.social-icon {
	@include fa.fa-icon;
	@extend .text-dim;
	@extend .fa-xl;

	&:hover {
		color: #c4c4c4;
	}

	&.github {
		@include fa-brands.icon(fa.$var-github);
	}

	&.gitlab {
		@include fa-brands.icon(fa.$var-gitlab);
	}

	&.reddit {
		@include fa-brands.icon(fa.$var-reddit);
	}

	&.mastodon {
		@include fa-brands.icon(fa.$var-mastodon);
	}

	&.stack-overflow {
		@include fa-brands.icon(fa.$var-stack-overflow);
	}

	&.linkedin {
		@include fa-brands.icon(fa.$var-linkedin-in);
	}
}
