{{ define "main" }}
	<div class="container mt-5">
		<h1 class="mb-3">
			Blog
			<a
				href="{{ (.OutputFormats.Get "rss").RelPermalink }}"
				class="text-dim ms-1 fa-xs align-middle"
				aria-label="Subscribe to RSS Feed"
				title="Subscribe to RSS Feed"
			>
				<i class="fas fa-rss fa-xs footer-icon-hover" aria-hidden="true"></i>
			</a>
		</h1>
		{{ range (.Site.GetPage "section" "blog").Pages }}
			<a class="text-reset text-decoration-none" href="{{ .Permalink }}">
				<div class="card border-grey-hover w-100 mb-2">
					<div class="card-body">
						<h5 class="card-title">{{ .Title }}</h5>
						<p class="card-text">{{ .Description }}</p>
						<span class="text-dim font-italic"
							>{{ .Date.Format "January 2, 2006" }}</span
						>
					</div>
				</div>
			</a>
		{{ end }}
	</div>
{{ end }}
