{{ define "main" }}
  <div class="container">
    <h1>My Software</h1>
    <div class="row">
      {{ range .Site.RegularPages.ByWeight }}
        {{ with .Params }}
          {{ if eq .layout "software_page" }}
            <div class="col-md-4">
              <div class="card mb-4">
                <img src="{{ index .images 0 }}" class="card-img-top" alt="{{ index .alts 0 }}">
                <div class="card-body">
                  <h5 class="card-title">{{ .title }}</h5>
                  <p class="card-text">{{ .description }}</p>
                </div>
                <div class="card-footer">
                  {{ range .buttons }}
                    <a href="{{ .href }}" class="btn btn-{{ .button_color }}" {{ if .newtab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                      {{ .text }}
                    </a>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}