{{ define "main" }}
<!-- Basic Info and Profile Image (Right-aligned) -->
<div class="container mt-5">
	<div class="card p-4">
		<div class="row">
			<div class="col-md-4">
				<img src="{{ .Params.about_me.photo }}" alt="Picture of Me" class="img-fluid rounded-circle">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<div class="d-flex justify-content-between align-items-center" style="margin-bottom: 0.75rem">
						<h1 class="card-title" style="margin: 0;">Connor Sample</h1>
						<!-- Desktop Resume button -->
						<a class="btn btn-primary btn-shadow text-mono d-none d-md-block" href="/doc/resume-website.pdf">Download Resume</a>
					</div>
					<h6 class="card-subtitle mb-2 text-dim">{{ .Params.about_me.job_title }}</h6>
					<p class="card-text">Location: {{ .Params.about_me.location }}</p>
					<p class="card-text">Website: <a href="https://tabulate.tech"
							target="_blank">https://tabulate.tech</a>
					</p>
					<p class="card-text">GitHub: <a href="https://github.com/TabulateJarl8"
							target="_blank">https://github.com/TabulateJarl8</a></p>
					<p class="card-text">GitLab: <a href="https://gitlab.com/TabulateJarl8"
							target="_blank">https://gitlab.com/TabulateJarl8</a></p>
					<p class="card-text">LinkedIn: <a href="https://www.linkedin.com/in/connor-sample/"
							target="_blank">https://www.linkedin.com/in/connor-sample/</a></p>

					<!-- Mobile resume button -->
					<a class="btn btn-primary btn-shadow text-mono d-md-none ms-0 mt-1" href="/doc/resume-website.pdf">Download Resume</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Resume Section -->
	<div class="row mt-4">
		<div class="col-md-6">
			<div class="card mb-4">
				<div class="card-body">
					<h3 class="card-title">🎓 Education</h3>
					{{ range .Params.education }}
					<div class="mb-2">
						<div class="d-flex justify-content-lg-between flex-column flex-lg-row">
							<strong>{{.name}}</strong>
							<p class="text-dim mb-0">GPA: {{ printf "%.3f" .gpa }} | Major: {{ printf "%.2f" .major_gpa }}</p>
						</div>
						<div class="ms-1 ps-3 border-start border-2 border-dim">
							<p class="mb-1">
								{{ range .degrees }}
								{{.}}<br>
								{{ end }}
							</p>
							<p class="mb-2 text-dim">{{ .graduation }}</p>

							{{ if .orgs }}
							<p class="mb-0"><strong>Organizations</strong></p>
							<ul>
								{{ range .orgs }}
									<li>{{.}}</li>
								{{ end }}
							</ul>
							{{ end }}
						</div>
					</div>
					{{ end }}
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-body">
					<h3 class="card-title mb-3">💻 My Technologies</h3>
					{{ $rowCount := 0 }}

					{{ range .Params.tech }}
					{{ if eq (mod $rowCount 4) 0 }}
					{{ if ne $rowCount 0 }}
				</div>{{ end }}
				<div class="row text-center pb-3">
					{{ end }}

					<div class="col-3 d-flex flex-column align-items-center">
						<img src="{{ .image }}" height="48" class="card-icon" alt="{{ .name }} Icon">
						<p class="card-text text-nowrap">{{ .name }}</p>
					</div>
					{{ $rowCount = add $rowCount 1 }}
					{{ end }}
					{{ if ne $rowCount 0 }}
				</div>{{ end }}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card mb-4">
			<div class="card-body">
				<h3 class="card-title">💼 Experience</h3>

				{{/* sort by end date and then start date */}}
				{{ $jobs := slice }}
				{{ range $key, $val := .Params.experience }}
					{{ $endDate := 0 }}
					{{ if eq $val.job_end "Present" }}
						{{/* we have bigger problems if we reach this */}}
						{{ $endDate = 253402240621 }}
					{{ else }}
						{{ $endDate = (time.AsTime $val.job_end).Unix }}
					{{ end }}

					{{ $startDate := (time.AsTime $val.job_start).Unix }}
					{{ $jobs = $jobs | append (merge $val (dict "endDate" $endDate "startDate" $startDate)) }}
				{{ end }}

				{{/* sort is stable so we can just sort in the order of precedence */}}
				{{ $sortedList := sort $jobs "startDate" "desc" }}
				{{ $sortedList = sort $sortedList "endDate" "desc" }}

				{{ range $sortedList }}
				<p><strong>{{ .employer }}</strong>
					<br>{{ .job_title }}
					<br><span class="text-dim">
						{{ (time.AsTime .job_start).Format "January 2006" }} -
						{{ if eq .job_end "Present" }} Present {{ else }} {{ (time.AsTime .job_end).Format "January 2006" }} {{ end }}
					</span>
				</p>
				<ul>
					{{ range .highlights }}
					<li>{{ . }}</li>
					{{ end }}
				</ul>
				<hr class="hr-light opacity-25">
				{{ end }}
			</div>
		</div>
	</div>
</div>
{{ end }}
