<div class="row">
	{{ $count := 0 }}
	{{ range where .Site.RegularPages.ByWeight "Params.featured" "==" true }}
	<div class="col-md-4 mb-4">
		<div class="card border-primary h-100">
			<div class="card-header py-3 d-flex align-items-center justify-content-between">
				{{ .Title }}
				{{ $colorMapping := dict
				"info" "Beta"
				"success" "Active"
				"warning" "Idle"
				"danger" "Discontinued"
				}}

				{{ $paramColor := .Params.status }}

				{{ with index $colorMapping $paramColor }}
				<span class="badge text-white bg-{{ $paramColor }}-dark float-end">{{ . }}</span>
				{{ end }}

			</div>
			<div class="card-body">
				{{ $summary := index (split .Content "</p>") 0 }}
				<p>{{ $summary | plainify }}</p>
			</div>
			<div class="card-footer bg-dark border-0">
				<a href='
			{{ if isset .Params "link_override" }}
			{{ .Params.link_override }}
			{{ else }}
			{{ .RelPermalink }}
			{{ end }}
				' class="btn btn-dark btn-shadow text-mono float-end">Learn More</a>
			</div>
		</div>
	</div>
	{{ $count = add $count 1 }}
	{{ if eq (mod $count 3) 0 }}
</div>
<div class="row pb-4">
	{{ end }}
	{{ end }}
</div>
